* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain-light";
  cursor: none;
}

@font-face {
  font-family: Plain-light;
  src: url(font/plain-light-webfont.ttf);
}

@font-face {
  font-family: Plain-regular;
  src: url(font/plain-regular-webfont.ttf);
}

@font-face {
  font-family: silk-serif;
  src: url(font/silkserif-lightitalic-webfont.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.mousefollower {
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  scale: 3;
  mix-blend-mode: difference;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  /* z-index: 9999; */
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 4vw;
  font-weight: 100;
  font-family: silk-serif;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation: loaderanime 2s infinite;
}

@keyframes loaderanime {
  0% {
    font-family: "Plain-light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "Plain-light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk-serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk-serif";
    -webkit-text-stroke: 0.1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #151515;
  /* z-index: 99; */
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 h4 {
  font-size: 1.2vw;
}

.hero {
  width: 72%;
  margin-left: 27%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}

.hero h1 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  position: relative;
}

#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: 20%;
  top: 29%;
}

.hero h2 {
  font-size: 7.1vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.5vw solid #fff;
}

.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid transparent;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
  /* background-color: #151515; */
}

#video-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
}

#video-container {
  height: 66vh;
  width: 71%;
  position: relative;
  left: 28%;
  background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: red; */
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

#video-cursor {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 999; */
}

#video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  position: relative;
  padding: 17vh 2vw;
  margin-top: 20vh;
}

#page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 28vw;
}

#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}

#page3 .underline {
  margin-left: 28vw;
}

#image-div-container {
  /* background-color: red; */
  padding: 2vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.image-div {
  height: 38vw;
  width: 27vw;
  margin: 2vw;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.image-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.image-div:nth-child(1) {
  height: 29vw;
  width: 21vw;
}

.page3-circle1 {
  width: 23vw;
  height: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23vh;
  position: relative;
  margin-left: 10vw;
  /* overflow: hidden; */
}
.page3-circle1 svg {
  height: 30%;
}
.page3-circle2 {
  width: 23vw;
  height: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow: hidden; */

  /* margin-top:23vh ; */
  /* margin-left: 10vw; */
}
.page3-circle2 svg {
  height: 30%;
  rotate: -45deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
}

.circle-in p {
  font-size: 0.8vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  transition: all ease 0.3s;
  transition-delay: 0.5s;
  opacity: 0;
}
.page3-circle1:hover .circle-in {
  scale: 1;
}

.page3-circle1:hover p {
  scale: 1;
  opacity: 1;
}
.page3-circle2:hover .circle-in {
  scale: 1;
}

.page3-circle2:hover p {
  scale: 1;
  opacity: 1;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  padding: 7vh 0;
  margin-top: 6vw;
}

#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}

#page4-content h1 {
  font-size: 6vw;
  text-transform: uppercase;
  position: relative;
}

#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: silk-serif;
  left: -10%;
  top: 7%;
}

#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

#page4-content > p {
  font-size: 2.06vw;
  width: 50%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
}

#page4-flex img {
  width: 48%;
}

#page4-flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}

#page4-blue-div {
  background-color: #3f7df4;
  width: 40vw;
  padding: 3vw;
  position: relative;
  margin-top: -35vh;
  margin-left: 24vw;
}

.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
  font-size: 1.2vw;
  font-weight: 500;
}

.blue-div-elem p {
  width: 40%;
  font-size: 0.9vw;
}
#page5 {
  min-height: 100vh;
  width: 100%;
}

.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation: anime 12s linear infinite;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  transform: translateX(-100% - 20px);
  animation-name: anime;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elem span,
.elem2 span {
  font-style: italic;
  font-family: silk-serif;
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
}

#footer {
  height: 80vh;
  width: 100%;
  padding-left: 28vw;
  padding-right: 2vw;
}

#footer h1 {
  font-size: 6vw;
  width: 60vw;
  text-transform: uppercase;
  position: relative;
}
#footer h1:hover {
  font-weight: 400;
  color: transparent;
  font-style: italic;
  -webkit-text-stroke: 1px #fff;
}

#footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: silk-serif;
  left: -10%;
  top: 7%;
  color: #fff;
  -webkit-text-stroke: 0;
}

.underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}

#footer-div {
  display: flex;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}

#footer-div h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
  font-weight: 100;
}

#box {
  width: 20%;
}

#footer-div h5 {
  font-size: 1.4vw;
  font-weight: 500;
}

#footer > h5 {
  font-weight: 500;
  font-size: 1vw;
}

._canvas_container {
  /* z-index: 9999999 !important; */
  pointer-events: none;
}

#flag {
  height: 25vw;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#hero3 {
  /* z-index: 999; */
  position: relative;
}
@media only screen and (max-width: 900px) {
  #page1 {
    height: 40vh;
    width: 100%;
    background-color: #151515;
    position: relative;
  }

  #page1 #nav svg {
    margin: auto;
  }

  #nav-part2 {
    display: none;
  }

  .hero h1 {
    font-size: 9vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10vw;
    margin-top: 2vw;
    position: relative;
  }
  .hero:nth-child(2) {
    margin-top: 6vh;
  }

  .hero h2 {
    line-height: 10vw;
  }

  #page2 {
    height: 70vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
  }

  #video-container img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
  }

  #video-container {
    height: 66vh;
    width: 100%;
    position: relative;
    left: 0%;
  }

  #video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
  }

  #video-cursor {
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
  }

  #video-cursor i {
    font-size: 2vw;
  }

  #page3 {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    padding: 1vw 2vw;
  }
  #page3 h1 {
    margin-left: 28%;
  }

  #page3 .underline {
    margin-left: 28%;
  }
  #image-div-container {
    padding: 1vw;
  }
  .image-div {
    height: 70%;
    width: 100%;
    position: relative;
    margin: auto;
  }

  .image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin-bottom: 1vw;
  }

  .page3-circle1 {
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23vh;
    position: relative;
    margin-left: 10vw;
  }
  .page3-circle1 svg {
    height: 30%;
  }

  #page4 {
    min-height: 40vh;
    width: 100%;
    padding: 7vh 0;
    margin-top: 6vw;
  }

  #page4-content {
    width: 77vw;
    margin-left: 20%;
  }

  #page4-content > p {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 3vw;
  }

  #page4-flex img {
    width: 70%;
  }

  #page4-flex p {
    font-size: 1.7vw;
    width: 36%;
    margin-left: 1vw;
  }

  #page4-blue-div {
    width: 54vw;
    margin-top: -6vh;
    margin-left: 15vw;
  }

  .blue-div-elem {
    padding: 2vw 0;
  }

  .blue-div-elem h4 {
    font-size: 2.2vw;
  }

  .blue-div-elem p {
    width: 45%;
    font-size: 1.4vw;
  }

  #page5 {
    display: none;

    min-height: 50vh;
    width: 100%;
  }

  .elem {
    margin-bottom: 6vw;
    margin-top: 10vw;
  }

  .elem h1 {
    margin-top: 2vw;
  }

  .elem2 h1 {
    margin-top: 2vw;
  }

  #footer {
    height: 35vh;
    width: 100%;
    padding-left: 20vw;
  }

  #footer h1 {
    font-size: 8vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
  }
  #footer h1::before {
    content: "04";
  }
  #footer-div {
    display: flex;
    grid-template-columns: 2;
    justify-content: space-between;
    padding-right: 0vw;
    padding-top: 4vw;
    margin-bottom: 3vw;
  }

  #box {
    width: 100%;
  }

  #footer-div h5 {
    font-size: 2.5vw;
    font-weight: 500;
  }

  #footer-div h6 {
    font-size: 4vw;
  }

  #footer > h5 {
    font-size: 7vw;
  }
  ._canvas_container {
    /* z-index: 9999999 !important; */
    pointer-events: none;
  }
}
